.login-bg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 7em 15em 1em 15em;
  /* background-image: url('src/assets/img/wallpaperbetter.com_1920x1080.jpg'); */
 }
